* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  height: auto;
  width: 100%;
  display: block;
}

/* givet alle siderne en baggrundsfarve */
body {
  background-color: #ebeae3;
}

.menu {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* z-index: +1; */
  padding-inline-start: 50px;
  padding-inline-end: 50px;
  padding-top: 85px;
  padding-bottom: 20px;
}

/* h1- overskriften "Webshop" på alle sider- den er ens på alle sider*/
h1 {
  font-family: "Oswald";
  font-size: 75px;
  color: #796565;
}

/* til de links på forsiden, skal have en større skrift end de andre links, på de andre sider*/
.indexa {
  font-size: 26px;
  text-decoration: none;
  /* color: rgba(181, 151, 117, 0.78); */
  color: #796767;
}

/* h1- overskriften på index siden */
.indexh1 {
  text-align: center;
  margin: auto;
  font-size: 130px;
  padding-top: 50px;
  /* color: rgba(159, 128, 90, 0.78); */
  color: #796565;
}

@media (max-width: 800px) {
  .indexh1 {
    /* text-align: center; */
    /* display: 100%; */
    padding-top: 0px;
    font-size: 100px;
  }
}

/* link til index.html når man trykker på h1 (overskriften) */
.overskrift {
  color: black;
  text-decoration: none;
}

/* liste til menuen*/
ul {
  display: inline;
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

/* liste til menuen */
li {
  font-family: "Merriweather";
  font-size: 30px;
  /* list-style-position: inside; */
  padding: 8px;
  text-align: center;
}

a {
  color: #5c5858;
  font-size: 18px;
  font-family: "Merriweather";
}

/* farven når man holder musen hen over teksten */
a:hover {
  color: #252d38;
}

/* til siden kategorier */

/* h2 på kategorier overskriften */
.overskriftk1 {
  /* display: block; */
  padding-inline-start: 50px;
  padding-inline-end: 50px;
  padding-top: 20px;
  font-family: "Oswald";
  font-size: 50px;
  /* color: #5c5858; */
  color: #796767;
}

/* grid på de forskellige kategorier */
.kategori {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 19px;
}

/* teksten inde i hver boks */
.kategori a {
  text-decoration: none;
  padding: 2rem;
  background-color: #d7d7d7;
  border-radius: 7px;
  color: rgb(72, 69, 69);
  font-family: "Merriweather";
}

@media (max-width: 800px) {
  .kategori {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* til siden produktliste */
/* grid på de forskellige produkter (billede samt tekst og links) */
.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 50px;
  gap: 30px;
}

.grid_1-1-1-1 .overskriftpl {
  grid-column: 1/-1;
}

.udsalg2 {
  display: flex;
  justify-content: space-between;
}

/* tekst "Nu; DKK 1560,-" på produkt 2 og 4 som er på udsalg */
.udsalgtekst1 {
  padding-top: 6px;
  color: #5c5858;
  font-family: "Merriweather";
}

/* lavet en boks rundt om 34%, så man ved at det er det procent man får */
.discounted p:last-child {
  background-color: rgb(219, 46, 46);
  padding: 5px;
  font-family: Merriweather;
  font-size: 15px;
}

/* mellem prisen og så udsalgsprocenten */
.produktliste article.onSale .discounted {
  display: flex;
  justify-content: space-between;
}

/* gjort sådan så at man ikke kan se udsalgsskiltet på de produkter som ikke er på udsalg */
.discounted {
  display: none;
}

/* Til de produkter som er udsolgt */
/* gjort sådan så at billedet af produkt 1 er lidt gennemsigtigt, så man kan se at det er udsolgt */
.produktimg1 {
  opacity: 0.6;
}

/* gjort sådan så at billedet af produkt 1 er lidt gennemsigtigt, så man kan se at det er udsolgt */
.produktimg4 {
  opacity: 0.6;
}

/* sat et udsolgt tekst på billedet 1, så man kan se at det er udsolgt*/
.udsolgt1 {
  position: absolute;
  background: rgb(153, 149, 149);
  color: rgb(247, 247, 247);
  padding: 18px;
  font-family: Merriweather;
}

/* sat et udsolgt tekst på billedet 4 så man kan se at det er udsolgt */
.udsolgt2 {
  position: absolute;
  background: rgb(153, 149, 149);
  color: rgb(247, 247, 247);
  padding: 18px;
  font-family: Merriweather;
}

/* h2 på overskriften "produkter" */
.overskriftpl {
  font-family: "Oswald";
  font-size: 50px;
  color: #796767;
}

/* h3 på det første billede (t-shirt) med teksten "Trænings t-shirt */
.overskriftpl1 {
  font-family: "Oswald";
  font-size: 20px;
  color: #5c5858;
  padding-top: 15px;
}

/* h3 på det andet billede (bukser) med teksten "Trænings t-shirt */
.overskriftpl2 {
  font-family: "Oswald";
  font-size: 20px;
  color: #5c5858;
  padding-top: 15px;
}

/* h3 på det trejde billede (t-shirt) med teksten "Trænings t-shirt */
.overskriftpl3 {
  font-family: "Oswald";
  font-size: 20px;
  color: #5c5858;
  padding-top: 15px;
}

/* h3 på det fjerde billede (bukser) med teksten "Trænings t-shirt */
.overskriftpl4 {
  font-family: "Oswald";
  font-size: 20px;
  color: #5c5858;
  padding-top: 15px;
}

/* tekst på det første billede (t-shirt) med teksten "T-shirt - Puma */
.tekstpl1 {
  font-family: "Merriweather";
  font-size: 15px;
  color: rgb(147, 143, 143);
  padding-top: 10px;
}

/* tekst på det andet billede (bukser) med teksten "T-shirt - Puma */
.tekstpl2 {
  font-family: "Merriweather";
  font-size: 15px;
  color: rgb(147, 143, 143);
  padding-top: 10px;
}

/* tekst på det trejde billede (t-shirt) med teksten "T-shirt - Puma */
.tekstpl3 {
  font-family: "Merriweather";
  font-size: 15px;
  color: rgb(147, 143, 143);
  padding-top: 10px;
}

/* tekst på det fjerde billede (bukser) med teksten "T-shirt - Puma */
.tekstpl4 {
  font-family: "Merriweather";
  font-size: 15px;
  color: rgb(147, 143, 143);
  padding-top: 8px;
}

.pris {
  font-family: "Merriweather";
  font-size: 15px;
  color: #5c5858;
  padding-top: 9px;
}

.pristekst {
  font-family: "Merriweather";
  font-size: 15px;
  color: #5c5858;
  padding-top: 9px;
}

/* linket til at læse mere om produktet */
.læs_mere {
  font-family: "Merriweather";
  font-size: 15px;
  color: rgb(92, 88, 88);
  padding-top: 10px;
}

/* navnet på hvilket brand produktet er */
.brand {
  font-family: "Merriweather";
  font-size: 15px;
  padding-top: 7px;
  color: rgb(147, 143, 143);
}

.produktliste article {
  display: flex;
  flex-direction: column;
}

/* udsolgt skilt på produkt 1 og 2*/
.produktliste article.soldOut::before {
  content: "Sold Out";
  position: absolute;
  background: var(--color);
  background: rgb(153, 149, 149);
  color: rgb(247, 247, 247);
  padding: 20px;
  font-family: Merriweather;
  font-size: 18px;
}

.produktliste article.soldOut .produktimg {
  opacity: 0.5;
}

/* sat siden ind i media så det er responsitv- altså også fungerer i mobil størrelse */
@media (max-width: 800px) {
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* til siden produkt */
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
}

/* h2 på produkt information */
.overskriftp1 {
  padding-inline-start: 50px;
  padding-inline-end: 50px;
  font-family: "Oswald";
  font-size: 54px;
  text-align: center;
  padding-top: 40px;
  color: #796767;
}

/* h3 på navn på produkt */
.overskriftp2 {
  padding-inline-start: 50px;
  padding-inline-end: 50px;
  font-family: "Oswald";
  font-size: 34px;
  text-align: center;
  padding-top: 65px;
  color: #796767;
}

/* h3 på farven */
.overskriftp3 {
  padding-inline-start: 50px;
  padding-inline-end: 50px;
  font-family: "Oswald";
  font-size: 34px;
  text-align: center;
  padding-top: 30px;
  color: #796767;
}

/* h3 på køn*/
.overskriftp4 {
  padding-inline-start: 50px;
  padding-inline-end: 50px;
  font-family: "Oswald";
  font-size: 34px;
  text-align: center;
  padding-top: 22px;
  color: #796767;
}

/* h3 på mærke */
.overskriftp5 {
  padding-inline-start: 50px;
  padding-inline-end: 50px;
  font-family: "Oswald";
  font-size: 34px;
  text-align: center;
  padding-top: 20px;
  color: #796767;
}

/* tekst på mærke navn */
.tekstp1 {
  padding-inline-start: 50px;
  padding-inline-end: 50px;
  font-family: "Merriweather";
  font-size: 19px;
  color: rgb(92, 88, 88);
  text-align: center;
}

/* tekst på farven */
.tekstp2 {
  padding-inline-start: 50px;
  padding-inline-end: 50px;
  font-family: "Merriweather";
  font-size: 19px;
  color: rgb(92, 88, 88);
  text-align: center;
}

/* tekst på størrelse */
.tekstp3 {
  padding-inline-start: 50px;
  padding-inline-end: 50px;
  font-family: "Merriweather";
  font-size: 19px;
  color: rgb(92, 88, 88);
  text-align: center;
}

/* tekst på Puma */
.tekstp4 {
  padding-inline-start: 50px;
  padding-inline-end: 50px;
  font-family: "Merriweather";
  font-size: 19px;
  color: rgb(92, 88, 88);
  text-align: center;
}

/* sat siden ind i media så det er responsitv- altså også fungerer i mobil størrelse */
@media (max-width: 800px) {
  .produktimg {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .produkt {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .overskriftp1 {
    font-size: 45px;
    padding-top: 50px;
  }

  .overskriftp2 {
    padding-top: 36px;
  }

  .menu {
    display: block;
  }
}
